<ion-content padding class="background">
  <h1 class="logo">Roamefy</h1>
  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    
    <ion-item class="item">
      <ion-label color="black" stacked>Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Your email address" [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)"></ion-input>
    </ion-item>
    
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      (loginForm.controls.email.dirty || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item class="item">
      <ion-label color="black" stacked>Password</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Your password"
        [class.invalid]="!loginForm.controls.password.valid &&
          (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      (loginForm.controls.password.dirty || submitAttempt)">
      <p>Your password needs more than 8 characters.</p>
    </ion-item>

    <button ion-button block class="loginButton" type="submit">
      Login
    </button>

  </form>

  <button ion-button block class="otherButton" (click)="goToResetPassword()">
      Intentionally forgot password!
  </button>

  <button ion-button block class="otherButton" (click)="createAccount()">
    Get into application
  </button>

  <button ion-button block class="otherButton" (click)="createProAccount()">
    Getting in as a pro
  </button>
  
</ion-content>