<ion-header>
  <ion-navbar color="primary">
    <h1 class="logo">Roamefy</h1>
  </ion-navbar>
</ion-header>
<ion-content padding>
   <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>
    
    <ion-item>
      <ion-label stacked class="loginC">Email</ion-label>
      <ion-input #email formControlName="email" type="email" placeholder="Enter email address" [class.invalid]="!loginForm.controls.email.valid && (loginForm.controls.email.dirty || submitAttempt)"></ion-input>
    </ion-item>
    
    <ion-item class="error-message" *ngIf="!loginForm.controls.email.valid  &&
      (loginForm.controls.email.dirty || submitAttempt)">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-label stacked class="loginC">Password</ion-label>
      <ion-input #password formControlName="password" type="password" placeholder="Enter password"
        [class.invalid]="!loginForm.controls.password.valid &&
          (loginForm.controls.password.dirty || submitAttempt)"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!loginForm.controls.password.valid  &&
      (loginForm.controls.password.dirty || submitAttempt)">
      <p>Your password needs more than 8 characters.</p>
    </ion-item>

    <button ion-button block class="loginButton" type="submit">
      Login
    </button>

  </form>

  <p id="or">OR</p>

  <button ion-button block class="otherButton" (click)="goToResetPassword()">
      Intentionally forgot password!
  </button>

  <button ion-button block class="otherButton" (click)="createAccount()">
      Register
  </button>

  <button ion-button block class="otherButton" (click)="createProAccount()">
    Register as a pro
  </button>
  
</ion-content>