<ion-header>
  <ion-navbar color="primary">
    <ion-title class="mytitle">Must See Attractions</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngFor="let attraction of attractions | async">
    <ion-card class="shadow">
      <img src="http://css1.www.cntower.ca/site_Files/Content/rotator/View_shot_-_Slacker_-_1024x380.jpg"/>
      <ion-card-header>
          <div class="card-title">{{attraction.name}}<ion-icon icon-end *ngIf="checkIfDev()" ios="ios-create" md="md-create" class="icon-edit" (click)="editAttraction(attraction.id)"></ion-icon></div>
      </ion-card-header>
      <ion-card-content>
      <div class="card-subtitle">Description: </div>
      <p>{{attraction.description}}</p> 
      <div class="card-subtitle">Location: </div>
      <p>{{attraction.address}}</p>
      <div class="card-subtitle">Website: </div>
      <a href="attraction.website">{{attraction.website}}</a>
      <div class="card-subtitle"><ion-icon name="call" class="call"></ion-icon>{{attraction.phone}}</div>
      <div class="card-subtitle">Hours: </div>
      <p>{{attraction.hours}}</p>
    </ion-card-content>
    </ion-card>   
  </ion-list>
</ion-content>
