page-places-view {

    ion-card-header {
        background-color: #008291;
        text-align: center;
        margin-bottom: 20px;
        font-size: 28px;
        opacity: 1;
        font-weight: bolder;
        font-family: "Helvetica";
        box-shadow: color($colors, darkSecondary, base);
    }

    .card-title {
        color: color($colors, primary_text, base);
        opacity: 1;
    }   

    .card-subtitle {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .icon-edit {
        margin-left: 20px;
    }

    div {
        font-size: 14px;
        font-weight: bolder;
        opacity: 0.7;
    }

    .call {
        margin-right: 5px;
    }
}
