<ion-content>
  <ion-list *ngFor="let attraction of attractions | async">
    <ion-card padding >
      <div class="card-title">{{attraction.name}}<ion-icon item-right *ngIf="checkIfDev()" ios="ios-cog" md="md-cog" (click)="editAttraction(attraction.id)"></ion-icon></div>
      <div class="card-subtitle">Description: {{attraction.description}}</div>
      <div class="card-subtitle">Location: {{attraction.address}}</div>
      <div class="card-subtitle"><ion-icon name="information-circle"></ion-icon>for more info: {{attraction.website}}</div>
      <div class="card-subtitle"><ion-icon name="call"></ion-icon>{{attraction.phone}}</div>
      <div class="card-subtitle">{{attraction.hours}}</div>
    </ion-card>   
  </ion-list>
</ion-content>
