page-event-chats {
    ion-card-header {
        background-color: #008291;
        text-align: center;
    }
    .card-title {
        color: color($colors, primary_text, base);
        opacity: 1;
        font-size: 14px;
        font-weight: 900;
        letter-spacing: 0.01em;
    }  
    div {
        font-size: 14px;
        font-weight: bolder;
        opacity: 1;
    }
}
