<ion-header>
  <ion-navbar color="primary">
    <ion-title>Update Attraction</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>     
  <form #editAttractionForm="ngForm">

    <ion-item>
      <ion-label floating>Enter attraction name</ion-label>
      <ion-input [(ngModel)]="attraction.name" type="text" name="name" required minlength="2"
      maxlength="64" pattern="[^0-9]*" #name="ngModel"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="name.errors && (name.dirty || name.touched)">
      <p [hidden]="!name.errors.required">
        Please enter attraction name.
      </p>
      <p [hidden]="!name.errors.minlength">
        Oops, name is too short.
      </p>
      <p [hidden]="!name.errors.maxlength">
        Oops, name is too long.
      </p>
      <p [hidden]="!name.errors.pattern">
        Oops, numbers are not allowed.
      </p>
    </ion-item>

  <ion-item>
    <ion-label floating>Enter attraction description</ion-label>
    <ion-input [(ngModel)]="attraction.description" type="text" name="description" required minlength="5" 
    maxlength="5000" #description="ngModel"></ion-input>
  </ion-item>

  <ion-item class="error-message" *ngIf="description.errors && (description.dirty || description.touched)">
      <p [hidden]="!description.errors.required">
        Please enter attraction description.
      </p>
      <p [hidden]="!description.errors.minlength">
        Oops, description is too short.
      </p>
      <p [hidden]="!description.errors.maxlength">
        Oops, description is too long.
      </p>
  </ion-item>

  <ion-item (click)="showAddressModal()">
      <ion-label floating>Enter attraction address</ion-label>
      <ion-input [(ngModel)]="attraction.address" name="address" type="search" required 
      #address="ngModel"></ion-input>
  </ion-item>

  <ion-item class="error-message" *ngIf="address.errors && (address.dirty || address.touched)">
    <p [hidden]="!address.errors.required">Please enter attraction location.</p>
  </ion-item>

  <ion-item>
    <ion-label floating>Enter website information</ion-label>
    <ion-input [(ngModel)]="attraction.website" name="website" minlength = 10 pattern="(https?://|www\.)..[0-9a-zA-Z]+\..[0-9a-zA-Z]+" #website="ngModel" ></ion-input>
  </ion-item>

  <ion-item class="error-message" *ngIf="website.errors && (website.dirty || website.touched)">
      <p [hidden]="!website.errors.pattern">Oops, website url is not valid.</p>
  </ion-item>

  <ion-item>
    <ion-label floating>Enter contact phone information</ion-label>
    <ion-input [(ngModel)]="attraction.phone" name="phone" pattern="[^a-zA-Z!@#$%^\&*( )\t_-]*" minlength="10"
      maxlength="10" #phone="ngModel"></ion-input>
  </ion-item>

  <ion-item class="error-message" *ngIf="phone.errors && (phone.dirty || phone.touched)">
    <p [hidden]="!phone.errors.pattern">Oops, phone number is not valid.</p>
    <p [hidden]="!phone.errors.minlength">Oops, phone number is too short.</p>
  </ion-item>

  <ion-item>
    <ion-label floating>Hours of operation</ion-label>
    <ion-input [(ngModel)]="attraction.hours" type="text" name="hours" required 
    maxlength="64" #hours="ngModel"></ion-input>
  </ion-item>

  <ion-item class="error-message" *ngIf="hours.errors && (hours.dirty || hours.touched)">
      <p [hidden]="!hours.errors.required">
        Please enter hours of operation.
      </p>
      <p [hidden]="!hours.errors.maxlength">
        Oops, too long.
      </p>
  </ion-item>

  <button ion-button block class="update" color="primary" (click)="editAttraction(attraction)" [disabled]="!editAttractionForm.form.valid">Update</button> 
  
  <button ion-button block class="update" color="primary" outline (click)="cancel()">Cancel</button>    

  <button ion-button block class="update" color="primary" outline (click)="delete()">Remove</button>      
</form>
</ion-content>
