page-home {
    .footLeft {
        width: 45%;
    }
    .footRight {
        width: 45%;
        background-color: white;
        color: color($colors, primary, base);
        border: 1px solid color($colors, primary, base);
    }

}
