<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
        <button ion-button icon-only (click)="goHome()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>More</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <button ion-button block color="danger" *ngFor="let p of pages" (click)="openPage(p)" padding="10px">
          {{p.title}}
        </button>
        <button ion-button block color="danger" *ngIf="checkUserRole()" (click)="openPage(userEventPage)" padding="10px">Events by you</button>
        <button ion-button block color="danger" *ngIf="checkIfDev()" (click)="openPage(addAttractionPage)" padding="10px">Add must see attractions</button>
  </ion-list>
</ion-content>
