page-settings {

    .nav_buttons {
        color: color($colors, dark_text, base);
        opacity: 0.7;
        padding: 37.5px;
        border: 2px ridge #008291;
    }

    // Prevent double borders
    .nav_buttons:not(:last-child) {
        border-bottom: none;
    }

    .nav_buttons:first-of-type {
        border-top: none;
    }

    // change the color of the buttons when select
    .nav_buttons:hover {
        background-color: color($colors, primary, base);
        color: color($colors, primary_text, base);
    }
}
