<ion-header>
  <ion-navbar>
      <ion-buttons left>
        <button ion-button icon-only (click)="goHome()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>More</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <button ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button ion-item *ngIf="checkUserRole()" (click)="openPage(userEventPage)">Events by you</button>
  </ion-list>
</ion-content>
