<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left>
        <button ion-button icon-only (click)="goHome()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
 <!--  <ion-title>More</ion-title> -->
  </ion-navbar>
</ion-header>
<ion-content>
    <ion-list>
        <button ion-button full clear class="nav_buttons" *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
        <button ion-button full clear class="nav_buttons" *ngIf="checkUserRole()" (click)="openPage(userEventPage)">Events by you</button>
        <button ion-button full clear class="nav_buttons" *ngIf="checkIfDev()" (click)="openPage(addAttractionPage)"><span>Add must see attractions</span></button>
  </ion-list>
</ion-content>
