page-settings {

    .nav_buttons {
        color: color($colors, dark_text, base);
        opacity: 0.7;
        padding: 43px;
        font-size: 14px;
    }

    // change the color of the buttons when select
    .nav_buttons:hover {
        background-color: color($colors, primary, base);
        color: color($colors, primary_text, base);
    }

}
