page-even-user-chats {

    .card-title-left {
        text-align: left;
        color: color($colors, primary_text, base);
        opacity: 1;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.01em;
    }  

    .card-title-right {
        text-align: right;
        color: color($colors, primary_text, base);
        opacity: 1;
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.01em;
    }   

    .card-time-left {
        text-align: left;
        color: color($colors, grey_text, base);
        opacity: 1;
        font-size: 8px;
        letter-spacing: 0.01em;
    }  

    .card-time-right {
        text-align: right;
        color: color($colors, grey_text, base);
        opacity: 1;
        font-size: 8px;
        letter-spacing: 0.01em;
    }  

    .card-message-left {
        text-align: left;
        padding: 10px;
        border-radius: 50px 50px 50px 10px;
        color: color($colors,  dark_text, base);
        background-color: color($colors, secondary, base);
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 14px;
        opacity: 1;
        width: fit-content;
    }  

    .card-message-right {
        margin-left:auto; 
        margin-right:0;
        text-align: right;
        padding: 10px;
        border-radius: 50px 50px 10px 50px;
        background-color: color($colors, darkSecondary, base);
        color: color($colors, primary_text, base);
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 14px;
        opacity: 1;
        width: fit-content;
    }

    .send {
        background-color: color($colors, primary, base);
        color: color($colors, primary_text, base);
        height: 50px;
        margin-bottom: -7px;
    }

    .list{
    }

}
