<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left *ngIf="isConfigured()">
        <button ion-button icon-only (click)="goHome()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Interests</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <button ion-button full outline class="button" [ngClass]="isChecked(item.id)" *ngFor="let item of interest | async" (click)="toggleCheck(item.id)">
        {{item.name}}
    </button>
</ion-list>
  <button *ngIf="!isConfigured()" ion-button outline color="primary" (click)="nextSetupPage()">
      FINISH
  </button>
</ion-content>