page-interest {

    .interest {
         color: color($colors, ligth_text, base);
         border: 2px ridge #005563;
         height: 50px;
         border-top: 0px solid white;
         opacity: 0.5;
    }

    .interest:active {
        background-color: color($colors, primary, base);
        color: color($colors, primary_text, base);
    }
}
