<ion-header>
  <ion-navbar color="primary">
      <ion-buttons left *ngIf="isConfigured()">
        <button ion-button icon-only (click)="goHome()">
            <ion-icon name="arrow-back"></ion-icon>
        </button>
    </ion-buttons>
    <ion-title>Interests</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list *ngFor="let item of interest | async">
    <ion-item>
      <ion-label>{{item.name}}</ion-label>
      <ion-checkbox [checked]="isChecked(item.id)" (click)="toggleCheck(item.id)">
      </ion-checkbox>
    </ion-item>
</ion-list>
  <button *ngIf="!isConfigured()" ion-button block color="danger" (click)="nextSetupPage()">
      Next
  </button>
</ion-content>