<ion-header>
  <ion-navbar>
    <ion-title>editUserProfile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="editForm" (submit)="editUserProfile()" novalidate>
        <ion-list>
          <ion-item>
            <ion-label stacked>First Name</ion-label>
            <ion-input formControlName="firstName" type="text" placeholder="Your first name"
              [class.invalid]="!editForm.controls.firstName.valid && (editForm.controls.firstName.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!editForm.controls.firstName.valid  && (editForm.controls.firstName.dirty || submitAttempt)">
            <p>Please enter your first name.</p>
          </ion-item>
    
          <ion-item>
            <ion-label stacked>Last Name</ion-label>
            <ion-input formControlName="lastName" type="text" placeholder="Your last name"
              [class.invalid]="!editForm.controls.lastName.valid && (editForm.controls.lastName.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!editForm.controls.lastName.valid  && (editForm.controls.lastName.dirty || submitAttempt)">
            <p>Please enter your last name.</p>
          </ion-item>
    
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input formControlName="email" type="email" placeholder="Your email address"
              [class.invalid]="!editForm.controls.email.valid && (editForm.controls.email.dirty || submitAttempt)"></ion-input>
          </ion-item>
          <ion-item class="error-message" *ngIf="!editForm.controls.email.valid  && (editForm.controls.email.dirty || submitAttempt)">
            <p>Please enter a valid email.</p>
          </ion-item>    
        </ion-list>

        <ion-item *ngIf="isUserPro()">
          <ion-label stacked>Address</ion-label>
          <ion-input formControlName="address" type="text" placeholder="Your address"
            [class.invalid]="!editForm.controls.address.valid && (editForm.controls.address.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.address.valid  && (editForm.controls.address.dirty || submitAttempt) && isUserPro()">
          <p>Please enter your address.</p>
        </ion-item>
  
        <ion-item *ngIf="isUserPro()">
          <ion-label stacked>Date of Birth</ion-label>
          <ion-input formControlName="dateOfBirth" type="text" placeholder="Your date of birth"
            [class.invalid]="!editForm.controls.dateOfBirth.valid && (editForm.controls.dateOfBirth.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.dateOfBirth.valid  && (editForm.controls.dateOfBirth.dirty || submitAttempt) && isUserPro()">
          <p>Please enter your date of birth.</p>
        </ion-item>
  
        <ion-item *ngIf="isUserPro()">
          <ion-label stacked>Driver Licence Number</ion-label>
          <ion-input formControlName="driverLicenceNumber" type="text" placeholder="Your driver's licence number"
            [class.invalid]="!editForm.controls.driverLicenceNumber.valid && (editForm.controls.driverLicenceNumber.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.driverLicenceNumber.valid  && (editForm.controls.driverLicenceNumber.dirty || submitAttempt) && isUserPro()">
          <p>Please enter your driver's licence number.</p>
        </ion-item>
  
        <ion-item *ngIf="isUserPro()">
          <ion-label stacked>Phone Number</ion-label>
          <ion-input formControlName="phoneNumber" type="text" placeholder="Your phone number"
            [class.invalid]="!editForm.controls.phoneNumber.valid && (editForm.controls.phoneNumber.dirty || submitAttempt)"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.phoneNumber.valid  && (editForm.controls.phoneNumber.dirty || submitAttempt) && isUserPro()">
          <p>Please enter your phone number.</p>
        </ion-item>
    
        <button ion-button block type="submit">
          Verify Change
        </button>
        
        <button ion-button block clear color="danger" (click) = "cancel()">Cancel</button>  
    
      </form>
</ion-content>