page-signup {
/*  .background{
    background-image: url('../assets/imgs/login.jpg');
    background-repeat:no-repeat;
    background-size:cover;
  color: #000;
}

.item{
  background: rgba($color: #fff, $alpha: 0.1);
  color: #000;
}

.logo{
  margin-top: 50px;
  color: color($colors, primary, base);
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  font-family: "Sofia";
  text-shadow: 0 0 5px #000;
}

.loginButton{
  background: rgba($color: color($colors, darkSecondary, base), $alpha: 1.0);
}

.otherButton{
  background: rgba($color: color($colors, darkSecondary, base), $alpha: 1);
  box-shadow: 0 0 5px #000;
  margin-top: 10px;
}

form {  
  margin-bottom: 32px;
  background: rgba($color: #fff, $alpha: 0.3);
  box-shadow: 0 0 5px #000;
  border-radius: 10px;

  button {
    margin-top: 20px;
  }
}

p {
  font-size: 0.8em;
  color: #000;
}

ion-label {
  color: #000;
}

ion-input {
  color: #000;
}

.text-input::-moz-placeholder {
  color: #000;
}

.text-input:-ms-input-placeholder {
  color: #000;
}

.text-input::-webkit-input-placeholder {
  color: #000;
}

.invalid {
  border-bottom: 1px solid #FF6153;
}

.error-message .item-inner {
  border-bottom: 0 !important;
  color: #000;
} 

.error-message {
  border-bottom: 0 !important;
  color: #000;
  background: rgba($color: #fff, $alpha: 0.1);
}  
}
*/
.logo{
  color: color($colors, primary_text, base);
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  text-shadow: 0 0 5px #005563;
  font-family: "Sofia";
}

form {  
  margin-top: 10px;
}

.item .register {
  color: #000000;
  opacity: 0.8;
}

.item {
  margin-bottom: 7px;
}

.invalid {
  border-bottom: 1.3px solid #FF6153 !important;
}

.error-message .item-inner {
  border-bottom: 0 !important;
 
} 

.error-message {
  border-bottom: 0 !important;

}

.loginButton {
 margin-top: 30px;
 margin-bottom: 20px;
}

.otherButton {
  margin-top: 20px;
  background-color: white;
  color: color($colors, primary, base);
  border: 1px solid color($colors, primary, base);
}

#or {
  text-align: center;
  color: #000000;
  opacity: 0.7;
  margin-bottom: 20px;
}

}

