<ion-header>
  <ion-navbar color="primary">
    <h1 class="logo">Roamefy</h1>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="signupForm" (submit)="signupUser()" novalidate>
    
      <ion-item>
        <ion-label stacked class="register">First Name</ion-label>
        <ion-input formControlName="firstName" type="text" placeholder="Enter your first name"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.firstName.valid  && (signupForm.controls.firstName.dirty || submitAttempt)">
      
        <p *ngIf="signupForm.controls.firstName.errors.required">
          Please enter your name.
        </p>
        <p *ngIf="signupForm.controls.firstName.errors.minlength">
          Oops, name is too short.
        </p>
        <p *ngIf="signupForm.controls.firstName.errors.maxlength">
          Oops, name is too long.
        </p>
        <p *ngIf="signupForm.controls.firstName.errors.pattern">
          Oops, numbers are not allowed.
        </p>  
      </ion-item>
      
      <ion-item>
        <ion-label stacked class="register">Last Name</ion-label>
        <ion-input formControlName="lastName" type="text" placeholder="Enter your last name"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.lastName.valid  && (signupForm.controls.lastName.dirty || submitAttempt)">
        <p *ngIf="signupForm.controls.lastName.errors.required">
          Please enter your last name.
        </p>
        <p *ngIf="signupForm.controls.lastName.errors.minlength">
          Oops, last name is too short.
        </p>
        <p *ngIf="signupForm.controls.lastName.errors.maxlength">
          Oops, last name is too long.
        </p>
        <p *ngIf="signupForm.controls.lastName.errors.pattern">
          Oops, numbers are not allowed.
        </p>  
      </ion-item>

      <ion-item class="item">
        <ion-label stacked class="register">Email</ion-label>
        <ion-input formControlName="email" type="email" placeholder="Enter your email address"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.email.valid  && (signupForm.controls.email.dirty || submitAttempt)">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item class="item">
        <ion-label stacked class="register">Password</ion-label>
        <ion-input formControlName="password" type="password"  placeholder="Enter your password"></ion-input>
      </ion-item>
      <ion-item class="error-message" *ngIf="!signupForm.controls.password.valid  && (signupForm.controls.password.dirty || submitAttempt)">
        <p *ngIf="signupForm.controls.password.errors.required">
          Please enter a password.
        </p>
        <p *ngIf="signupForm.controls.password.errors.maxlength">
          Oops, password is too long.
        </p>
        <p *ngIf="signupForm.controls.password.errors.pattern">
          At least 8 characters with one 
        </p> 
        <p *ngIf="signupForm.controls.password.errors.pattern">
          lowercase, uppercase and a number.
        </p> 
      </ion-item>
    <button ion-button class="loginButton" block type="submit">
      Sign me up please
    </button>

  </form>

  <p id="or">OR</p>

  <button ion-button block class="otherButton" (click)="goHome()">
    Nah! I will login instead!
  </button>

</ion-content>