page-signup {

  .logo{
    color: color($colors, primary_text, base);
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 4px 4px 5px #00424d;
  }

  form {  
    margin-top: 10px;
  }
  
  .item .register {
    color: #000000;
    opacity: 0.8;
  }
  
  .error-message .item-inner {
    border-bottom: 0 !important;
  } 
  
  .error-message {
    border-bottom: 0 !important;
  }

  .loginButton {
   margin-top: 30px;
   margin-bottom: 40px;
  }

  .otherButton {
    margin-top: 20px;
    background-color: white;
    color: color($colors, primary, base);
    border: 1px solid color($colors, primary, base);
  }

  #or {
    text-align: center;
    color: #000000;
    opacity: 0.7;
    margin-bottom: 30px;
  }
}

