<ion-header>
  <ion-navbar color="primary">
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="editForm" (submit)="editUserProfile()" novalidate>
        <ion-item>
          <ion-label stacked class="update">First Name</ion-label>
          <ion-input [disabled]="isItSwitch()" formControlName="firstName" type="text"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.firstName.valid  && (editForm.controls.firstName.dirty || submitAttempt)">
      
            <p *ngIf="editForm.controls.firstName.errors.required">
              Please enter your name.
            </p>
            <p *ngIf="editForm.controls.firstName.errors.minlength">
              Oops, name is too short.
            </p>
            <p *ngIf="editForm.controls.firstName.errors.maxlength">
              Oops, name is too long.
            </p>
            <p *ngIf="editForm.controls.firstName.errors.pattern">
              Oops, numbers are not allowed.
            </p>  
          </ion-item>
    
        <ion-item>
          <ion-label stacked class="update">Last Name</ion-label>
          <ion-input [disabled]="isItSwitch()" formControlName="lastName" type="text"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.lastName.valid  && (editForm.controls.lastName.dirty || submitAttempt)">
            <p *ngIf="editForm.controls.lastName.errors.required">
              Please enter your last name.
            </p>
            <p *ngIf="editForm.controls.lastName.errors.minlength">
              Oops, last name is too short.
            </p>
            <p *ngIf="editForm.controls.lastName.errors.maxlength">
              Oops, last name is too long.
            </p>
            <p *ngIf="editForm.controls.lastName.errors.pattern">
              Oops, numbers are not allowed.
            </p>  
          </ion-item>
    
        <ion-item>
          <ion-label stacked class="update">Email</ion-label>
          <ion-input [disabled]="isItSwitch()" formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.email.valid  && (editForm.controls.email.dirty || submitAttempt)">
          <p>Please enter a valid email.</p>
        </ion-item> 

        <ion-item (click)="showAddressModal()">
          <ion-label stacked class="update">Address</ion-label>
          <ion-input formControlName="address" type="text"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.address.valid  && (editForm.controls.address.dirty || submitAttempt)">
          <p>Please enter your address.</p>
        </ion-item>
  
        <ion-item>
          <ion-label stacked class="update">Date of Birth (DD/MM/YYYY)</ion-label>
          <ion-input formControlName="dateOfBirth" type="text"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.dateOfBirth.valid  && (editForm.controls.dateOfBirth.dirty || submitAttempt)">
          <p *ngIf="editForm.controls.dateOfBirth.errors.required">
              Please enter your date of birth.
          </p>
          <p *ngIf="editForm.controls.dateOfBirth.errors.pattern">
              Oops, date of bith is not valid.
          </p> 
        </ion-item>
  
        <ion-item>
          <ion-label stacked class="update">Driver Licence Number</ion-label>
          <ion-input formControlName="driverLicenceNumber" type="text"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.driverLicenceNumber.valid  && (editForm.controls.driverLicenceNumber.dirty || submitAttempt)">
          <p *ngIf="editForm.controls.driverLicenceNumber.errors.required">
            Please enter your driver licence number.
          </p>
          <p *ngIf="editForm.controls.driverLicenceNumber.errors.pattern">
            Oops, driver licence number is not valid.
          </p> 
        </ion-item>
  
        <ion-item>
          <ion-label stacked class="update">Phone Number</ion-label>
          <ion-input formControlName="phoneNumber" type="text"></ion-input>
        </ion-item>
        <ion-item class="error-message" *ngIf="!editForm.controls.phoneNumber.valid  && (editForm.controls.phoneNumber.dirty || submitAttempt)">
          <p *ngIf="editForm.controls.phoneNumber.errors.required">
            Please enter your phone number.
          </p>
          <p *ngIf="editForm.controls.phoneNumber.errors.pattern">
            Oops, phone number is not valid.
          </p>
          <p *ngIf="editForm.controls.phoneNumber.errors.maxlength">
            Oops, phone number is not valid.
          </p>          
        </ion-item>
    
        <button *ngIf="!isItSwitch()" ion-button block color="primary" class="button" type="submit">
          Update
        </button>
    
        <button *ngIf="isItSwitch()" ion-button block color="primary" outline class="button" type="submit">
          Switch to pro
        </button>
      </form>
        
      <button ion-button block color="primary" outline class="button" (click) = "cancel()">Cancel</button>  
</ion-content>